<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="D:/Idea/IdeaProjects/TriangleTestNg/src/test/java">
        <classes>
            <class name="app.tests.TriangleTests">
                <methods>
                    <include name="tstCheckSidesPositive"/>
                    <include name="tstCheckSidesNegative"/>
                    <include name="tstCheckDetectTrianglePositive"/>
                    <include name="createDataForGetSquareMethod"/>
                </methods>
            </class>
        </classes>
    </test>
    <listeners>
        <listener class-name="app.listeners.LoggerTestListenerAdapter" />
    </listeners>
</suite>